/* 라이브러리 */

.con {
    width: 1200px;
    /* max-width: none !important; */
    max-width: 1200px;
    margin: 0 auto;
}

/* section 기본값 */
section {
    font-family: 'Noto Sans KR', sans-serif;
}

/* nav */
nav {
    width: 163px;
    height: 446px;
    background: linear-gradient(251.3deg, rgba(255, 255, 255, 0.8) 3.21%, rgba(255, 255, 255, 0.8) 103.61%);
    box-shadow: 0px 4px 4px rgba(116, 116, 116, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 30px;

    position: fixed;
    z-index: 9999;
    top: 295px;
    left: 74px;

}

nav .top {
    width: 100%;
    height: 96px;
    border-bottom: 1px solid #000000;
}

nav .top .arrow-box {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #001AFF;
    font-size: 30px;
    color: #001AFF;
}

nav .top .arrow-box:hover {
    color: white;
    background-color: #001AFF;
}

nav .bottom {
    width: 100%;
    height: 350px;
}

nav .bottom .text-box {
    font-size: 20px;
    font-weight: 900;
}


nav li:after {
    display: block;
    content: '';
    border-bottom: solid 2px #001AFF;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

li:hover:after { transform: scaleX(1); }
li.fromleft:after{  transform-origin:  0% 50%; }


nav .bottom .text-box ul li a:hover {
    color: #001AFF;
}


/* section01 st */
.section01 .video-wrap {
    width: 100%;
    height: 1080px;
    background-color: #f9f9f9;
}

.section01 .video-wrap2 {
    width: 1920px;
    height: 1080px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section01 .main-img1 {
    width: 300px;
    position: absolute;
    top: 205px;
    left: 1041.24px;
    animation: fly 2.5s linear infinite;
}

@keyframes fly {
    0% {}

    50% {
        margin-top: 30px;
    }

    100% {}
}

.section01 .main-img2 {
    width: 300px;
    position: absolute;
    top: 690.07px;
    left: 425px;
    animation: fly 2.5s linear infinite;
}

@keyframes fly {

    0% {}

    50% {
        margin-top: 30px;
    }

    100% {}
}


/* section02 st */
.section02 video {
    width: 70%;
}

.section02 .text-box {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.section02 .half-highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #8E99FF 50%);
}

.section02 .text-box2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.section02 .btn-box {
    width: 198px;
    height: 56px;
    border: 1px solid #001AFF;
    border-radius: 6px;
    margin: 0 auto;
    color: #001AFF;
    font-size: 20px;
    background-color: white;
}

.section02 .btn-box:hover {
    background-color: #001AFF;
    color: white;
}

.section02 .btn-box:hover>svg {
    fill: red;
}

/* section03 st */

.section03 >.text-box {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.section03 .box {
    width: 1200px;
    height: 630px;
    background-color: pink;
}

.section03 .box .left {
    width: 523px;
    height: 100%;
    background-color: red;
}


.section03 .box .left .skill-mainbox {
    background: #FFFFFF;
    /* blue */
    border: 1px solid #001AFF;
    box-shadow: 0px 2px 17px 10px rgba(233, 233, 233, 0.54);
    border-radius: 32px;

    width: 100%;
    height: 100%;
}


.section03 .box .left .skill-mainbox .text-box span{
    font-size: 20px;
    font-weight: bold;
    
}

.section03 .box .left .skill-mainbox .text-box p{
    font-size: 16px;
    font-weight: bold;
    color: #838383;
}

.section03 .box .right {
    width: 600px;
    height: 100%;
    background-color: blue;
}

.section03 .box .right .work-mainbox {
    background: #FFFFFF;
    /* blue */
    border: 1px solid #001AFF;
    box-shadow: 0px 2px 17px 10px rgba(233, 233, 233, 0.54);
    border-radius: 32px;

    width: 100%;
    height: 100%;
}

.section03 .box .right .work-mainbox .text-box{
    width: 100%;
    height: calc(100% / 3);
    background-color: red;
}

.section03 .box .right .work-mainbox .text-box .icon-box{
    width: calc(100% - 70%);
    height: 100%;
    background-color: yellow;
}

.section03 .box .right .work-mainbox .text-box .t-box{
    width: 100%;
    height: 100%;
    background-color: salmon;
}